<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>

<body>
    <h1>Hey, </h1>
    <h2>If you know you are not the one who requested for a change of password, kindly ignore this email & send your
        response</h2>
    <a href="http://127.0.0.1:3000/reset-pwd">click here to reset</a>
    <a href="http://127.0.0.1:3000/report">click here to report activity</a>
</body>

</html>