<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
</head>

<body>
    <h1>Hello there, congrats on your successfull registration with us</h1>
    <h2>Also you need to understand that email Verification is a very important factor today due to security risks</h2>
    <h3>Verify your account now by clicking the Verification button bellow</h3>
    <a target="__blank" href="http://127.0.0.1:3000/verify-account"></a>
    <h2>Enjoy!!!</h2>
</body>

</html>